section.hero {
  background: #f8f8f8e8;
  height: 28rem;
  padding: 0;
}

section.hero .container {
  position: relative;
  width: 100%;
  gap: 10px;
}

/* ! Buttons PREV and NEXT */
.container .action-btn {
  position: absolute;
  top: 50%;
  background: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  z-index: 30;
  &:hover {
    background: #f5f3f3;
  }
}
.action-btn.left {
  left: 5px;
}
.action-btn.right {
  right: 5px;
}
.action-btn img {
  width: 20px;
  height: 20px;
}
/* ! Hero items */
.container .hero-container {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 28rem;
  overflow: hidden;
}

.hero-container .hero-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 28rem;
}
.hero-item .bg-container {
  position: absolute;
  inset: 0;
  display: flex;
}
.bg-container .bg-simulation {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #e2e2e2a1, transparent);
  z-index: 10;
}
.bg-container .image-bg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
}
.bg-container .image-bg img {
  position: absolute;
  inset: 0;
  height: 250px;
  width: 280px;
  margin-right: 30px;
  margin-top: auto;
  margin-left: auto;
}
.hero-item .text-zone h1 {
  font-size: 40px;
}
.hero-item .text-zone {
  max-width: 100vw;
  padding: 60px;
  margin-bottom: auto;
}
.hero-item .text-zone p {
  color: #000;
}
@media (max-width: 430px) {
  section.hero {
    height: 25rem;
  }
  .hero-container .hero-item{
    height: 25rem;
  }
  .hero-item .text-zone h1 {
    font-size: 30px;
  }
  .hero-item .text-zone {
    padding: 20px 30px;
  }
  .bg-container .image-bg img {
  height: 200px;
  width: 230px;
  margin-bottom: 10px;
}
}
@media (min-width: 40rem) {
  .hero-item .text-zone {
    max-width: 20rem;
  }
  .bg-container .image-bg img {
    height: 350px;
    width: 300px;
  }
}
@media (min-width: 48rem) {
  section.hero .container {
    width: 90%;
    gap: 30px;
  }
  .hero-item .text-zone {
    max-width: 23rem;
    padding: 0;
    margin-bottom: 0;
  }
  section.hero {
    padding: 30px 0;
  }
  .container .action-btn {
    position: relative;
  }
  .bg-container .bg-simulation {
    background: linear-gradient(to right, #fafafa, transparent);
  }
  .hero-item .text-zone p {
    color: #4d4d4d;
  }
  .bg-container .image-bg img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 450px;
    margin-left: auto;
  }
}
