.testimonial .container{
    flex-direction: column;
    gap: 40px;
}
.testimonial-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.testimonial-header h1 {
  font-size: 14px;
  color: var(--accent);
}
.testimonial-header p {
  font-size: 40px;
}

.testimonial-body {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
.testimonial-body .testimonial-item {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  &.active {
    background: var(--accent);
  }
}
.testimonial-item:hover{
    scale: 1.05;
}
.testimonial-item p {
  color: gray;
  text-align: center;
  font-size: 14px;
  &.active{
    color: #fff;
  }
}
.testimonial-item h2 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  &.active{
    color: #fff;
  }
}
.testimonial-item h3 {
  font-style: italic;
  font-size: 14px;
  &.active{
    color: #fff;
  }
}