@import url("./css/navBar.style.css");
@import url("./css/hero.style.css");
@import url("./css/patner.style.css");
@import url("./css/advantages.styls.css");
@import url("./css/product.style.css");
@import url("./css/footer.style.css");
@import url("./css/testimonial.style.css");

:root {
  --accent: #ff4848;
  --primary: #000;
  --secondary: #666;
  --text-accent: #fff;
}

* {
  background: none;
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  border: none;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 99.3vw;
  overflow-x: hidden;
}
section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
}

.container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ! MAIN */
main {
  background-color: #fbfbfb;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.text-zone {
  max-width: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: center;
  z-index: 20;
  overflow: hidden;
}
.text-zone h1 {
  font-size: 18px;
  font-weight: 800;
}
.text-zone p {
  color: var(--secondary);
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}
.text-zone button {
  background: var(--accent);
  color: var(--text-accent);
  font-weight: 700;
  font-size: 16px;
  padding: 8px 14px;
  margin-top: 25px;
  border-radius: 6px;
  &:hover {
    opacity: 0.8;
  }
}
